<!DOCTYPE html>
<html>
    <head>
        <title>HTML :)</title> 
        <script src="/static/js/libs/axios.min.js"></script>
        <script src="/static/js/libs/jquery.min.js"></script>
        <script src="/static/js/libs/js.cookie.min.js"></script>
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>